root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_style = tab
indent_size = 4

[*.{kts,gradle.kts}]
indent_style = space
indent_size = 4

[*.{xml,toml,yml,yaml,json}]
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.{rs2asm,glsl}]
indent_style = tab
indent_size = 4
