target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
runelite-client/src/main/resources/META-INF/MANIFEST.MF
git
classes/artifacts/client_jar/run.bat
classes/artifacts/client_jar/client.jar
*.jar
!gradle-wrapper.jar
.live/
**/build/*
*/out/
.gradle/
runelite-client/src/main/resources/runelite/*
runelite-client/dependencies.txt
.staging/