target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
.vscode
.factorypath
.DS_Storedependency-reduced-pom.xml
dependency-reduced-pom.xml
.DS_Store
