name: CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    env:
      GRADLE_OPTS: "-Dfile:encoding=UTF-8"

    steps:
      - name: Cache glslang
        uses: actions/cache@v5
        with:
          path: |
            ~/.cache/runelite
          key: ${{ runner.os }}-cache-${{ hashFiles('ci/build.sh') }}
          restore-keys: |
            ${{ runner.os }}-cache-

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: wrapper

      - name: Build and Test
        run: ./ci/build.sh
